name: Build Multi-Cloud Artifacts

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build-and-test:
    name: Build and Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        provider: [aws, azure, gcp]
    steps:
      - name: Check out code
        uses: actions/checkout@v5

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "^1.23.4"

      - name: Get dependencies
        run: go mod download

      - name: Build ${{ matrix.provider }}
        run: |
          go build -v ./cmd/${{ matrix.provider }}-*

      - name: Run tests
        run: go test -v ./...
