name: Publish lambda ZIP file as release
on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Go 3.x
        uses: actions/setup-go@v5
        with:
          go-version: '^1.22'

      - name: Get dependencies
        run: |
          go get -v -t -d ./...

      - name: Build arm64
        run: go build -v -ldflags="-s -w" -o bootstrap -tags lambda . && zip hec-lambda-arm64.zip bootstrap
        working-directory: .
        env:
          GOOS: linux
          GOARCH: arm64
          CGO_ENABLED: 0

      - name: Build amd64
        run: go build -v -ldflags="-s -w" -o bootstrap -tags lambda . && zip hec-lambda-amd64.zip bootstrap
        working-directory: .
        env:
          GOOS: linux
          GOARCH: amd64
          CGO_ENABLED: 0

      - name: Release with Notes
        uses: softprops/action-gh-release@v2
        with:
          files: |
            hec-lambda-arm64.zip
            hec-lambda-amd64.zip
